[submodule "lib/Melanolib"]
	path = lib/Melanolib
	url = https://github.com/mbasaglia/Melanolib.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/mbasaglia/CMake-Lib.git
[submodule "lib/HttPony"]
	path = lib/HttPony
	url = https://github.com/mbasaglia/HttPony.git
