a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

td, .form_cell
{
    border: 1px solid gray;
    padding: 0.5ex;
}

.form_header.form_cell, .form_header .form_cell
{
/*     border-bottom: 1px solid red; */
    border-top: 1px solid white;
    border-left: none;
    border-right: none;
}

table, .form_table
{
    border-collapse: collapse;
}

td:last-child
{
    font-family: monospace;
}

.status_connected
{
    color: green;
}

.status_connecting
{
    color: orange;
}

.status_disconnected
{
    color: red;
}

nav
{
    color: yellow;
    font-size: small;
}

.menu
{
    background-color: #666;
}

.submenu
{
    background-color: #333;
}

nav ul:first-child
{
    border-top-left-radius: 1ex;
    border-top-right-radius: 1ex;
}

nav ul:last-child
{
    border-bottom-left-radius: 1ex;
    border-bottom-right-radius: 1ex;
}

nav ul
{
    list-style: none;
    margin: 0;
    padding: 0 2ex;
    display: flex;
}
nav li
{
    display: inline-flex;
}
nav li > a, nav li > span
{
    padding: 1ex;
}
nav a, nav a:hover, nav a:link, nav a:visited
{
    color: inherit;
    text-decoration: none;
}
nav a:hover
{
    background-color: #aaa;
}
nav span.current_page
{
    font-weight: bold;
}
nav .current_page
{
    background-color: #888;
}

.form_table
{
    display: table;
}

.form_row
{
    display: table-row;
}

.form_cell
{
    display: table-cell;
}

.form_header
{
    font-weight: bold;
}
